html {
  background-color:  #77AFBF;
  font-family: Courier New;
}

.opcionesPartida {
  text-align: center;
  position: relative;
  top:-350px;
  right: 545px;
}

.imagenes {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 105px;
  margin: auto;
  width: 75%;
  background-color: #417b8b;
  padding: 20px;
  outline-style: double;
  outline-width: thick;
  outline-color:  black;
}

.informacion {
  text-align: center;
  position: relative;
  top: -200px;
  margin-right: 100px;
}

#opcionesSalida a {
  position:relative; 
  left:250px;
  top:100px;
  font-size: 200%;
  margin: 20px;
  color: black;
}

#Piedra:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

#Piedra {
  transition: transform .2s;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url('piedra.svg');
  background-size: cover;
  background-color:   #417b8b;
  border: #417b8b;
}

#Papel:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

#Papel {
  transition: transform .2s;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url('papel.svg');
  background-size: cover;
  background-color:   #417b8b;
  border: #417b8b;
}

 #Tijera:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
} 

#Tijera {
  transition: transform .2s;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url('tijera.svg');
  background-size: cover;
  background-color:   #417b8b;
  border: #417b8b;
}

#Lagarto:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}  

#Lagarto {
  transition: transform .2s;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url('lagarto.svg');
  background-size: cover;
  background-color:   #417b8b;
  border: #417b8b;
}

#Spock:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
} 

#Spock {
  transition: transform .2s;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url('spock.svg');
  background-size: cover;
  background-color:   #417b8b;
  border: #417b8b;
}