html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.botones {
    border-width: 5px;
    width: 80px;
    height: 80px;
    color: black;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 15%;
    border-color: rgb(21, 8, 214);
    background-color: rgb(247, 211, 211);
}
.display{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: "flex-start"; 
    justify-content: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: -20px;
    width: 100%;
    background-color:yellow;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
 }
 .headder {
    position: fixed;
    left: 0;
    top: -20px;
    width: 100%;
    background-color:yellow;
    color: black;
    text-align: center;
    font-family:  Helvetica;
 }
 .finale{
     position:fixed;
     top: 170px;
 }